<div>
  <% if ( typeof data.user !='undefined' ){ %>
    <h2>hello <%= data.user.name %> !</h2>
    <p>You are a <%= data.user.role %>
    </p>
    <p>
      <%= JSON.stringify(data.user) %>
    </p>
    <% } %>
</div>
<div>
  <% if ( typeof data.orgs !='undefined' ){ %>
    <% data.orgs.forEach(function(org) { %>
      <p>
        <%= org.name %>
      </p>
      <% }) %>
        <% } %>
          <form action="/user/getorgs" method="GET">
            <button type="submit">Get orgs</button>
          </form>
</div>
<div>
  <% if ( typeof data.professionals !='undefined' ){ %>
    <% data.professionals.forEach(function(professionals) { %>
      <p>
        <%= professionals.name %>
          <%= professionals.role %>
      </p>
      <% }) %>
        <% } %>
          <form action="/user/getprofessionals" method="GET">
            <button type="submit">Get professionals</button>
          </form>
</div>

<form action="/logout" method="POST">
  <button type="submit">Log Out</button>
</form>
<form action="/user/editprofile" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="updateField" name="name" />
  </div>
  <div>
    <label>age</label>
    <input type="number" id="updateField" name="age" />
  </div>
  <div>
    <label>height</label>
    <input type="number" id="updateField" name="height" />
  </div>
  <div>
    <label>weight</label>
    <input type="number" id="updateField" name="weight" />
  </div>
  <div>
    <label>address</label>
    <input type="text" id="updateField" name="address" />
  </div>
  <div>
    <label>allergies</label>
    <input type="text" id="updateField" name="allergies" />
  </div>
  <button type="submit">UpdateProfile</button>
</form>

<div>
  <% if ( typeof data.user !='undefined' ){ %>
    <% if(data.user.role=='admin' ) {%>
      <form action="/admin/getapplications" method="GET">
        <button type="submit" name="type" value="user">
          <h2>See all Pending User Applications</h2>
        </button>
        <button type="submit" name="type" value="org">
          <h2>See all Pending Org Applications</h2>
        </button>
      </form>
      <% }} %>
</div>
<div>
  <% if ( typeof data.user !='undefined' ){ %>
    <% if(data.user.role=='admin' ) {%>
      <form action="/admin/getapplications" method="GET">
        <button type="submit">
          <h2>See all Pending Org Applications</h2>
        </button>
      </form>
      <% }} %>
</div>
<div>
  <% if ( typeof data.applications !='undefined' ){ %>
    <% data.applications.forEach(function(application) { %>

      <p>
        <%= application.id %>
          <%= application.name %>
            <%= application.role %>
      </p>

      <% }) %>
        <% } %>

</div>
<div>
  <% if ( typeof data.user !='undefined' ){ %>
    <% if(data.user.role=='admin' ) {%>
      <form action="/admin/approve" method="POST">
        <div>
          <label for="id">Enter application ID</label>
          <input type="number" id="updateField" name="id" />
        </div>
        <div>
          <label for="type">Select Type</label>
          <select name="type" id="type" required>
            <option value="org">Organization</option>
            <option value="user">User</option>
          </select>
        </div>
        <button type="submit">
          <h3>Approve</h3>
        </button>
      </form>
      <% }} %>
</div>
<form action="/passphrase" method="POST">
  <div>
    <label for="id">Enter a passphrase for file upload verification</label>
    <input type="password" id="updateField" name="pass" required />
  </div>
  <div>
    <label for="otp">Enter OTP</label>
    <input type="text" id="otp" name="otp" />
  </div>
  <button type="submit" name="getOtp">Get otp</button>
  <button type="submit">
    <h3>Add passphrase</h3>
  </button>
</form>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <div>
    <label for="pass">Enter your registered passphrase</label>
    <input type="text" id="updateField" name="pass" required />
  </div>
  <div>
    <label for="id">Choose File</label>
    <input type="file" id="updateField" name="upload" required />
  </div>

  <button type="submit">
    <h3>Upload</h3>
  </button>
</form>