<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Home</title>
</head>

<body>
  <div>
    <% if ( typeof data.user !='undefined' ){ %>
      <h1>Hello <b>
          <%= data.user.name %>
        </b> ! </h1>
      <h2>You are a <%= data.user.role %>
      </h2>

      <% if ( data.user.type=='user' ){ %>
        <b>Name: </b>
        <%= data.user.name %><br>
          <b>ID: </b>
          <%= data.user.id %><br>
            <b>Your Email: </b>
            <%= data.user.email %><br>
              <b>Your Age: </b>
              <%= data.user.age || "Not yet updated" %><br>
                <b>Your Height: </b>
                <%= data.user.height || "Not yet updated" %><br>
                  <b>Your Weight: </b>
                  <%= data.user.weight || "Not yet updated" %><br>
                    <b>Your address: : </b>
                    <%= data.user.address || "Not yet updated" %><br>
                      <b>Your Location:</b>
                      <%= data.user.location || "Not yet updated" %><br>
                        <b>Your allergies:</b>
                        <%= data.user.allergies || "none" %><br>
                          <b>Wallet Amount:</b>
                          <%= data.user.wallet %><br>
                            your application is <b>
                              <%= data.user.status %>
                            </b><br>

                            <% } %>
                              <% if ( data.user.type=='org' ){ %>
                                <b>Name: </b>
                                <%= data.user.name %><br>
                                  <b>ID: </b>
                                  <%= data.user.id %><br>
                                    <b>Your Domain Email: </b>
                                    <%= data.user.domain %><br>


                                      <b>Your Location:</b>
                                      <%= data.user.location || "Not yet updated" %><br>
                                        <b>Your ContactDetails:</b>
                                        <%= data.user.contactDetails || "none" %><br>
                                          <b>Your Description:</b>
                                          <%= data.user.description || "none" %><br>
                                            <b>Wallet Amount:</b>
                                            <%= data.user.wallet %><br>
                                              your application is <b>
                                                <%= data.user.status %>
                                              </b><br>
                                              <% } %>
                                                <% } %>
  </div>
  <div class="club">
    <div style="display:flex; flex-direction: row;">
      <div>

        <div>
          <% if ( typeof data.professionals !='undefined' ){ %>
            <table>
              <tr>
                <th> ID</th>
                <th> Name</th>
                <th> Type</th>
                <th> Address</th>
                <th> Location</th>
              </tr>
              <% data.professionals.forEach(function(professionals) { %>
                <tr>

                  <td>
                    <%= professionals.id %>
                  </td>
                  <td>
                    <%= professionals.name %>
                  </td>
                  <td>
                    <%= professionals.role %>
                  </td>
                  <td>
                    <%= professionals.address || "Not yet updated" %>
                  </td>
                  <td>
                    <%= professionals.location || "Not yet updated" %>
                  </td>
                </tr>
                <% }) %>
            </table>
            <% } %>
              <form action="/user/getprofessionals" method="GET">
                <div>
                  <label for="type">Type</label>
                  <select name="type" id="type" required>
                    <option value="all">All</option>
                    <option value="hospital">Hospital</option>
                    <option value="pharmacy">Pharmacy</option>
                    <option value="insurance">Insurance</option>
                    <option value="professional">Professional</option>
                  </select>

                </div>
                <div>
                  <label for="">Name</label>
                  <input type="string" id="updateField" name="name" />
                </div>
                <div>
                  <label for="">Location</label>
                  <input type="string" id="updateField" name="location" />
                </div>
                <button type="submit">Get Catalog</button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <div class="club">
    <div style="display:flex; flex-direction: row;">
      <form action="/addToWallet" method="POST">
        <div>
          <label for="name">Amount</label>
          <input type="number" id="updateField" name="amount" />
        </div>
        <div>
          <label for="otp">Enter OTP</label>
          <input class="input" type="text" name="otp" id="input4" />
        </div>
        <button type="submit" name="getOtp">Get otp</button>


        <button type="submit" name="addtowallet">Add money to wallet</button>
      </form>
    </div>

  </div>


  <div class="club">
    <% if(data.user.role=='admin' || data.user.role=='patient' || data.user.role=='professional' ) {%>
      <form action="/user/edituserprofile" method="POST">
        <div>
          <label for="name">Name</label>
          <input type="text" id="updateField" name="name" />
        </div>
        <div>
          <label>Age</label>
          <input type="number" id="updateField" name="age" />
        </div>
        <div>
          <label>Height</label>
          <input type="number" id="updateField" name="height" />
        </div>
        <div>
          <label>Weight</label>
          <input type="number" id="updateField" name="weight" />
        </div>
        <div>
          <label>Address</label>
          <input type="text" id="updateField" name="address" />
        </div>
        <div>
          <label>Allergies</label>
          <input type="text" id="updateField" name="allergies" />
        </div>
        <div>
          <label>Location</label>
          <input type="text" id="updateField" name="location" />
        </div>
        <button type="submit">UpdateProfile</button>
      </form>
      <% } %>
        <% if(data.user.role=='hospital' || data.user.role=='pharmacy' || data.user.role=='insurance' ) {%>
          <form action="/user/editorgprofile" method="POST">
            <div>
              <label for="name">Name</label>
              <input type="text" id="updateField" name="name" />
            </div>
            <div>
              <label>Location</label>
              <input type="text" id="updateField" name="location" />
            </div>
            <div>
              <label>Contact Details</label>
              <input type="text" id="updateField" name="contactDetails" />
            </div>
            <div>
              <label>Description</label>
              <input type="text" id="updateField" name="description" />
            </div>
            <button type="submit">Update Profile</button>
          </form>
          <% } %>
  </div>

  <div class="club">
    <div style="max-width:50vw;display:flex; justify-content: space-around; flex-direction: row;">
      <% if ( typeof data.user !='undefined' ){ %>
        <% if(data.user.role=='admin' ) {%>

          <form action="/admin/showall" method="GET">
            <button type="submit">
              <h3>See all Entities</h3>
            </button>
          </form>



          <form action="/admin/getapplications" method="GET">
            <button type="submit" name="type" value="user">
              <h3>See all Pending User Applications</h3>
            </button>
          </form>


          <form action="/admin/getapplications" method="GET">
            <button type="submit" name="type" value="org">
              <h3>See all Pending Org Applications</h3>
            </button>
          </form>
    </div>
    <% }} %>

      <% if ( typeof data.applications !='undefined' && data.applications.length> 0 ){ %>
        <div>
          <h3>Pending Applications</h3>
          <table>
            <tr>
              <th>Applicant ID</th>
              <th>Applicant Name</th>
              <th>Applicant Email</th>
              <th>Applicant Role</th>
              <th>Applicant Address</th>
              <th>Applicant Contact Details</th>
              <th>Applicant Description</th>
            </tr>

            <% data.applications.forEach(function(application) { %>

              <tr>
                <td>
                  <%= application.id %>
                </td>
                <td>
                  <%= application.name || "Not yet updated" %>
                </td>
                <td>
                  <%= application.email || "Not yet updated" %>
                </td>
                <td>
                  <%= application.role || "Not yet updated" %>
                </td>
                <td>
                  <%= application.address || "Not yet updated" %>
                </td>
                <td>
                  <%= application.contactDetails || "Not yet updated" %>
                </td>
                <td>
                  <%= application.description || "Not yet updated" %>
                </td>
              </tr>

              <% }) %>
          </table>
          <% } %>
        </div>

        <% if ( typeof data.all !='undefined' ){ %>
          <h3>All Entities</h3>
          <table>
            <tr>
              <th>Applicant ID</th>
              <th>Applicant Name</th>
              <th>Applicant Email</th>
              <th>Applicant Role</th>
              <th>Applicant Address</th>
              <th>Applicant Contact Details</th>
              <th>Applicant Description</th>
            </tr>

            <% data.all.users.forEach(function(application) { %>

              <tr>
                <td>
                  <%= application.id %>
                </td>
                <td>
                  <%= application.name || "Not yet updated" %>
                </td>
                <td>
                  <%= application.email || "Not yet updated" %>
                </td>
                <td>
                  <%= application.role || "Not yet updated" %>
                </td>
                <td>
                  <%= application.address || "Not yet updated" %>
                </td>
                <td>
                  <%= application.contactDetails || "NA" %>
                </td>
                <td>
                  <%= application.description || "NA" %>
                </td>
              </tr>

              <% }) %>

                <% data.all.orgs.forEach(function(application) { %>

                  <tr>
                    <td>
                      <%= application.id %>
                    </td>
                    <td>
                      <%= application.name || "Not yet updated" %>
                    </td>
                    <td>
                      <%= application.email || application.domain|| "Not yet updated" %>
                    </td>
                    <td>
                      <%= application.role ||"Not yet updated" %>
                    </td>
                    <td>
                      <%= application.address || "Not yet updated" %>
                    </td>
                    <td>
                      <%= application.contactDetails || "Not yet updated" %>
                    </td>
                    <td>
                      <%= application.description || "Not yet updated" %>
                    </td>
                  </tr>

                  <% }) %>
          </table>

          <% } %>



            <div style="max-width:50vw;display:flex; justify-content: space-around; flex-direction: row;">
              <% if ( typeof data.user !='undefined' ){ %>
                <% if(data.user.role=='admin' ) {%>
                  <form action="/admin/download" method="POST" style="border-right: 4px  solid; padding: 15px">
                    <div>
                      <label for="id">Enter application ID</label>
                      <input type="number" id="updateField" name="id" />
                    </div>
                    <button type="submit">
                      <p>Download POI Documents</p>
                    </button>
                  </form>
                  <form action="/admin/approve" method="POST" style="border-right: 4px  solid; padding: 15px">
                    <div>
                      <label for="id">Enter application ID</label>
                      <input type="number" id="updateField" name="id" />
                    </div>
                    <div>
                      <label for="type">Select Type</label>
                      <select name="type" id="type" required>
                        <option value="org">Organization</option>
                        <option value="user">User</option>
                      </select>
                    </div>
                    <button type="submit">
                      <p>Approve</p>
                    </button>
                  </form>
                  <form action="/admin/delete" method="POST">
                    <div>
                      <label for="id">Enter application ID</label>
                      <input type="number" id="updateField" name="id" />
                    </div>
                    <div>
                      <label for="type">Select Type</label>
                      <select name="type" id="type" required>
                        <option value="org">Organization</option>
                        <option value="user">User</option>
                      </select>
                    </div>
                    <button type="submit">
                      <p>Delete Entity</p>
                    </button>
                  </form>
                  <% }} %>
            </div>
  </div>

  <div class="club">
    <div style="max-width:50vw;display:flex; justify-content: space-around; flex-direction: row;">
      <% if ( typeof data.user !='undefined' ){ %>
        <% if(data.user.role=='patient' ) {%>
          <form action="/upload" method="POST" enctype="multipart/form-data"
            style="border-right: 4px  solid; padding: 15px">
            <div>
              <label for="id">Choose File</label>
              <input type="file" id="updateField" name="upload" required />
            </div>
            <div>
            </div>


            <button type="submit">Upload To Verify</button>
          </form>
          <% }} %>
            <form action="/share" method="POST" enctype="multipart/form-data"
              style="border-right: 4px  solid; padding: 15px">
              <div>
                <label for="id">Choose File</label>
                <input type="file" id="updateField" name="upload" required />
              </div>
              <div>
                <label for="id">Enter id to share file</label>
                <input type="text" id="updateField" name="rid" required />
              </div>
              <div>
                <label for="type">Select Type</label>
                <select name="type" id="type" required>
                  <option value="org">Organization</option>
                  <option value="user">User</option>
                </select>
              </div>

              <button type="submit">Share</button>
            </form>

            <form action="/getFiles" method="GET" style="padding: 15px">
              <button type="submit">
                Download All Documents Shared with Me !
              </button>
            </form>
    </div>
  </div>


  <div class="club">
    <div style="max-width:50vw;display:flex; justify-content: space-around; flex-direction: row;">
      <div style="border-right: 4px  solid; padding: 15px">
        <% if ( typeof data.getmyfiles !='undefined' && data.getmyfiles.length> 0 ){ %>

          <h3>My files</h3>
          <table>
            <tr>
              <th>filename</th>
            </tr>

            <% data.getmyfiles.forEach(function(file) { %>
              <tr>
                <td>
                  <%= file.name %>
                </td>
              </tr>
              <% }) %>
          </table>

          <% } %>
            <form action="/getMyFiles" method="GET">
              <button type="submit">Get My Files</button>
            </form>
      </div>
      <form action="/deletefile" method="POST" style="border-right: 4px  solid; padding: 15px;">
        <div>
          <label for="id">Enter file name to be deleted</label>
          <input type="text" id="updateField" name="name" required />
        </div>
        <button type="submit">Delete My Files</button>
      </form>

      <form action="/download" method="POST" style="padding: 15px">
        <button type="submit">Download My Files</button>
      </form>

    </div>
  </div>
  <div class="club">
    <div style="max-width:50vw;display:flex; justify-content: space-around; flex-direction: row;">
      <% if ( typeof data.user !='undefined' ){ %>
        <% if(data.user.role=='patient' ) {%>

          <form action="/user/showtransactions" method="GET" style="border-right: 4px  solid; padding: 15px">
            <button type="submit">Show All my Medical transactions</button>
          </form>


          <div>
            <form action="/user/raiseClaim" method="POST">
              <div>
                <label for="trid">Enter Transaction ID</label>
                <input type="number" id="updateField" name="trid" required />
              </div>
              <div>
                <label for="trid">Enter Insurance Company ID</label>
                <input type="number" id="updateField" name="vid" required />
              </div>
              <button type="submit">Raise Insurance Claim for this Transaction</button>
            </form>
          </div>

          <form action="/user/showclaims" method="GET">

            <button type="submit">
              Show all PENDING Claims raised
            </button>
          </form>


          <% }} %>
    </div>
  </div>
  <div style="border-right: 4px  solid; padding: 15px">
    <% if ( typeof data.showtransactions !='undefined' && data.showtransactions.length> 0 ){ %>

      <h3>My Transactions</h3>
      <table>
        <tr>
          <th>Transaction id</th>
          <th>User id</th>
          <th>Vendor id</th>
          <th>Drug id</th>
          <th>Price</th>

          <th>status</th>
        </tr>

        <% data.showtransactions.forEach(function(transac) { %>
          <tr>
            <td>
              <%= transac.transaction_id %>
            </td>
            <td>
              <%= transac.uid %>
            </td>
            <td>
              <%= transac.vid %>
            </td>
            <td>
              <%= transac.did %>
            </td>
            <td>
              <%= transac.price %>
            </td>

            <td>
              <%= transac.status %>
            </td>
          </tr>
          <% }) %>
      </table>

      <% } %>

  </div>
  <div style="border-right: 4px  solid; padding: 15px">
    <% if ( typeof data.claims !='undefined' && data.claims.length> 0 ){ %>

      <h3>Claims</h3>
      <table>
        <tr>
          <th>Claim id</th>
          <th>User id</th>
          <th>Drug id</th>
          <th>Transaction id</th>
          <th>Vendor id</th>
          <th>Amount</th>
          <th>status</th>
        </tr>

        <% data.claims.forEach(function(claim) { %>
          <tr>
            <td>
              <%= claim.id %>
            </td>
            <td>
              <%= claim.uid %>
            </td>
            <td>
              <%= claim.did %>
            </td>
            <td>
              <%= claim.tid %>
            </td>
            <td>
              <%= claim.vid %>
            </td>
            <td>
              <%= claim.amount %>
            </td>

            <td>
              <%= claim.status %>
            </td>
          </tr>
          <% }) %>
      </table>

      <% } %>

  </div>

  <% if ( typeof data.user !='undefined' ){ %>
    <% if(data.user.role=='pharmacy' ) {%>
      <div>
        <form action="/user/showtransactions" method="GET">

          <button type="submit">Show All Medicinal transactions</button>

        </form>
      </div>
      <div>
        <form action="/user/approvetransaction" method="POST">
          <div>
            <label for="drug">Enter Transaction ID</label>
            <input type="string" id="updateField" name="id" required />
          </div>
          <button type="submit">Approve this transaction</button>

        </form>
      </div>
      <% }} %>
        <div class="club">
          <div style="max-width:50vw;display:flex; justify-content: space-around; flex-direction: row;">
            <% if ( typeof data.user !='undefined' ){ %>
              <% if(data.user.role=='pharmacy' ) {%>
                <div>
                  <form action="/user/addDrug" method="POST" style="border-right: 4px  solid; padding: 15px">
                    <div>
                      <label for="drug">Name of the Drug</label>
                      <input type="string" id="updateField" name="name" required />
                    </div>
                    <div>
                      <label for="drug">Price</label>
                      <input type="number" id="updateField" name="price" required />
                    </div>
                    <button type="submit">Add drug</button>

                  </form>
                </div>
                <% }} %>
                  <div style="border-right: 4px  solid; padding: 15px">

                    <form action="/user/showdrugs" method="GET">
                      <button type="submit">SHOW DRUGS</button>
                    </form>
                  </div>
                  <form action="/user/buydrug" method="POST">
                    <div>
                      <label for="drug">ENTER DRUG ID TO PRUCHASE</label>
                      <input type="number" id="updateField" name="did" required />
                    </div>
                    <div>
                      <label for="drug">ENTER VENDOR ID TO PRUCHASE</label>
                      <input type="number" id="updateField" name="vid" required />
                    </div>
                    <button type="submit">BUY DRUG</button>
                  </form>
          </div>
        </div>
        <div>
          <% if ( typeof data.user !='undefined' ){ %>
            <% if(data.user.role=='insurance' ) {%>
              <form action="/user/showclaims" method="GET">

                <button type="submit">
                  Show all PENDING Claims raised
                </button>
              </form>
              <form action="/user/refund" method="POST">
                <div>
                  <label for="id">Enter Claim ID</label>
                  <input type="number" id="updateField" name="id" />
                </div>

                <button type="submit">
                  <h3>Refund Claim</h3>
                </button>
              </form>
              <% }} %>
        </div>
        <div style="border-right: 4px  solid; padding: 15px">
          <% if ( typeof data.drugs !='undefined' && data.drugs.length> 0 ){ %>

            <h3>Available Drugs</h3>
            <table>
              <tr>

                <th>Drug id</th>
                <th>Drug Name</th>
                <th>Vendor id</th>
                <th>Amount</th>

              </tr>

              <% data.drugs.forEach(function(drug) { %>
                <tr>

                  <td>
                    <%= drug.id %>
                  </td>
                  <td>
                    <%= drug.name %>
                  </td>
                  <td>
                    <%= drug.vid %>
                  </td>
                  <td>
                    <%= drug.price %>
                  </td>


                </tr>
                <% }) %>
            </table>

            <% } %>

        </div>
        <form action="/logout" method="POST">
          <button type="submit">
            <h1>Log Out</h1>
          </button>
        </form>
</body>

</html>